# Applying group by on the "gtd_gecon_pop_geoEPR_join(temp).csv" file to generate a file "gtd_geoepr_join(with_counts).csv"

In [36]:
import pandas as pd
import numpy as np

In [157]:
df=pd.read_csv(r'data\gtd_gecon_pop_geoEPR_join(temp).csv')

C:\Users\RoshanLal\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [158]:
df.drop('field_1',axis=1,inplace=True)

In [159]:
df.head()

,latitude,longitude,nkill,days_passed,DIS_LAKE,DIS_MAJOR_RIVER,DIS_OCEAN,PRECI_AVG,TEMP_AVG,population,gwgroupid
0,30.2,-92.0,1,1377,203647.7,36595.2,80760.91,1511.68707,19.83053,761.89,201000
1,30.3,-97.7,1,1614,347929.2,561382.6,213544.70,853.06466,19.75072,2180.63,201000
2,35.1,-85.3,1,1384,670613.1,404051.2,460835.30,1377.70776,14.29174,238.76,201000
3,33.0,-96.6,1,1458,273748.0,483525.8,439429.80,1025.86293,17.91106,570.04,201000
4,42.4,-71.1,1,9933,206767.0,228853.2,25988.02,1141.04837,7.75661,1691.79,201000

In [160]:
df1=df.groupby(['latitude','longitude']).gwgroupid.nunique()
df1

latitude  longitude
-45.6     -72.1        1
-45.4     -72.7        1
-43.5      172.6       1
-42.9      147.3       1
-42.3     -71.1        2
-41.3     -71.3        1
           174.8       1
-41.2     -71.3        1
-41.1     -71.3        1
           175.1       1
-40.7     -66.6        1
-40.6     -73.1        2
          -72.5        1
-40.2     -72.3        1
          -71.4        1
-39.8     -73.2        1
          -72.1        1
          -72.0        1
-39.0     -72.6        2
          -68.1        1
-38.9     -72.4        2
          -72.3        1
-38.8     -72.6        2
          -72.4        2
-38.7     -72.6        2
          -72.3        1
          -72.2        1
          -62.3        1
-38.4     -71.9        1
-38.3     -72.7        2
                      ..
 59.3      31.3        1
 59.4      24.7        2
           24.8        2
           27.4        2
           28.2        2
           75.1        1
 59.9      30.3        2
           30.5        1
 60.2      24.9        1
           25.0        1
 60.3      25.0        1
 60.4      25.0        1
 60.5      22.3        1
           26.9        1
 60.7      26.8        1
           29.1        1
 61.1      21.5        1
           25.0        1
           72.6        1
 61.2      25.5        1
           73.4        1
 61.5      23.8        1
           24.1        1
 61.7      50.8        1
 61.8      22.4        1
 62.0      129.7       1
 62.3      25.2        1
 64.1      24.5        1
 64.8     -147.7       2
 65.0      25.5        1
Name: gwgroupid, Length: 19665, dtype: int64

In [162]:
df2=df1.reset_index()
df2

       latitude  longitude  gwgroupid
0         -45.6      -72.1          1
1         -45.4      -72.7          1
2         -43.5      172.6          1
3         -42.9      147.3          1
4         -42.3      -71.1          2
5         -41.3      -71.3          1
6         -41.3      174.8          1
7         -41.2      -71.3          1
8         -41.1      -71.3          1
9         -41.1      175.1          1
10        -40.7      -66.6          1
11        -40.6      -73.1          2
12        -40.6      -72.5          1
13        -40.2      -72.3          1
14        -40.2      -71.4          1
15        -39.8      -73.2          1
16        -39.8      -72.1          1
17        -39.8      -72.0          1
18        -39.0      -72.6          2
19        -39.0      -68.1          1
20        -38.9      -72.4          2
21        -38.9      -72.3          1
22        -38.8      -72.6          2
23        -38.8      -72.4          2
24        -38.7      -72.6          2
25        -38.7      -72.3          1
26        -38.7      -72.2          1
27        -38.7      -62.3          1
28        -38.4      -71.9          1
29        -38.3      -72.7          2
...         ...        ...        ...
19635      59.3       31.3          1
19636      59.4       24.7          2
19637      59.4       24.8          2
19638      59.4       27.4          2
19639      59.4       28.2          2
19640      59.4       75.1          1
19641      59.9       30.3          2
19642      59.9       30.5          1
19643      60.2       24.9          1
19644      60.2       25.0          1
19645      60.3       25.0          1
19646      60.4       25.0          1
19647      60.5       22.3          1
19648      60.5       26.9          1
19649      60.7       26.8          1
19650      60.7       29.1          1
19651      61.1       21.5          1
19652      61.1       25.0          1
19653      61.1       72.6          1
19654      61.2       25.5          1
19655      61.2       73.4          1
19656      61.5       23.8          1
19657      61.5       24.1          1
19658      61.7       50.8          1
19659      61.8       22.4          1
19660      62.0      129.7          1
19661      62.3       25.2          1
19662      64.1       24.5          1
19663      64.8     -147.7          2
19664      65.0       25.5          1

[19665 rows x 3 columns]

In [163]:
df2.to_csv('data/gtd_geoepr_join(with_counts).csv',index=False)

# using above file as refernce, we fill the gtd_geocon_pop.csv file

In [273]:
df=pd.read_csv('data/gtd_geoepr_join(with_counts).csv',)
df.shape

(19665, 3)

In [274]:
df.head()

   latitude  longitude  gwgroupid
0     -45.6      -72.1          1
1     -45.4      -72.7          1
2     -43.5      172.6          1
3     -42.9      147.3          1
4     -42.3      -71.1          2

In [275]:
a=df[(df['latitude']== 18.5) & (df['longitude']== -70.0)]

In [276]:
dfggpj=pd.read_csv('data/gtd_gecon_pop_join.csv',)
dfggpj.head()

,Unnamed: 0,latitude,longitude,nkill,days_passed,DIS_LAKE,DIS_MAJOR_RIVER,DIS_OCEAN,PRECI_AVG,TEMP_AVG,population
0,0,18.5,-70.0,1,17834,1415040.0,1285293.0,33082.41,1703.198276,26.640805,2180.63
1,1,34.8,37.3,1,1406,73722.0,1133031.0,140738.70,198.627586,17.571624,14.11
2,2,14.5,44.4,1,1407,826500.5,1737351.0,196373.80,347.809479,20.158693,214.15
3,3,36.5,40.7,1,1407,167311.2,943071.2,432522.10,542.012062,16.618319,178.64
4,4,33.6,36.3,1,1406,199295.5,1169763.0,56242.69,516.005172,14.889152,74.82

In [277]:
dfggpj.drop('Unnamed: 0',axis=1,inplace=True)

In [278]:
dfggpj.head()

,latitude,longitude,nkill,days_passed,DIS_LAKE,DIS_MAJOR_RIVER,DIS_OCEAN,PRECI_AVG,TEMP_AVG,population
0,18.5,-70.0,1,17834,1415040.0,1285293.0,33082.41,1703.198276,26.640805,2180.63
1,34.8,37.3,1,1406,73722.0,1133031.0,140738.70,198.627586,17.571624,14.11
2,14.5,44.4,1,1407,826500.5,1737351.0,196373.80,347.809479,20.158693,214.15
3,36.5,40.7,1,1407,167311.2,943071.2,432522.10,542.012062,16.618319,178.64
4,33.6,36.3,1,1406,199295.5,1169763.0,56242.69,516.005172,14.889152,74.82

In [280]:
print(dfggpj.shape[0])

142792

In [281]:
l=[]

for i in range(dfggpj.shape[0]):
    x=dfggpj.loc[i].latitude
    y=dfggpj.loc[i].longitude
    if i%10000==0:
        print(i)
    try:
        a=df[(df['latitude']== x) & (df['longitude']== y)]
        if a.empty==True:
            l.append(99999)
        else:
            ind=a.index[0]
            l.append(df.at[ind,'gwgroupid'])
    except KeyError:
        l.append(99999)
        pass

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000

In [282]:
len(l)

142792

In [284]:
dfggpj.to_csv('data/gtd_geoecon_pop_geoepr_join.csv',index=False)