In [2]:
import pandas as pd
import numpy as np

In [3]:
dfw=pd.read_csv('2015.csv')
dfw.shape

(158, 12)

In [7]:
gtd=pd.read_excel('../GTD/globalterrorismdb_0718dist.xlxs')
gtd.shape

FileNotFoundError: [Errno 2] No such file or directory: '../GTD/globalterrorismdb_0718dist.xlxs'

In [7]:
dfw.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [8]:
dfcap.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
0,Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
2,French Southern and Antarctic Lands,Port-aux-Français,-49.350000,70.216667,TF,Antarctica
3,Palestine,Jerusalem,31.766667,35.233333,PS,Asia
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe

In [9]:
dfcap[dfcap['CountryName']== "India"]

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
103,India,New Delhi,28.6,77.2,IN,Asia